@tailwind base;
@tailwind components;
@tailwind utilities;

.addBtn {
  background-color: blue;
  border-radius: 10px;
  padding: 2rem;
  font-size: x-large;
}

.resetBtn {
  background-color: greenyellow;
  border-radius: 10px;
  padding: 2rem;
  font-size: x-large;
}

.subtractBtn {
  background-color: red;
  border-radius: 10px;
  padding: 2rem;
  font-size: x-large;
}
